body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: pink;
  overflow: hidden;
}

.container {
  text-align: center;
  margin-top: 12vh;
  position: relative;
  z-index: 1;
}

.heart {
  font-size: 80px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.music-btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background: #ff2d75;
  color: white;
  cursor: pointer;
}

@keyframes spinFast {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.music-btn.spinning {
  animation: spinFast 0.6s linear infinite;
}

h1 {
  color: #b8004c;
}

p {
  font-size: 20px;
}

.timer {
  margin: 15px 0;
  font-size: 18px;
}

.buttons button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.yes {
  background: #ff2d75;
  color: white;
}

.no {
  background: gray;
  color: white;
  position: absolute;
}

/* POPUP */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.overlay.show {
  display: flex;
}

.popup {
  background: #fff0f5;
  padding: 30px;
  max-width: 500px;
  border-radius: 20px;
  text-align: center;
}

.close {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  background: #ff2d75;
  color: white;
  cursor: pointer;
}

.hearts span {
  position: fixed;
  top: -10%;
  animation: fall 5s linear forwards;
}

@keyframes fall {
  to {
    top: 110%;
    opacity: 0;
  }
}
