body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: pink;
  overflow: hidden;
}

.container {
  text-align: center;
  margin-top: 12vh;
  position: relative;
  z-index: 2;
}

/* CORAÇÃO */
.heart {
  font-size: 80px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

/* BOTÃO DE MÚSICA */
.music-btn {
  margin-bottom: 15px;
  padding: 14px 18px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  background: #ff4d88;
  color: white;
  cursor: pointer;
}

/* DISCO GIRANDO */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.music-btn.spinning {
  animation: spin 2s linear infinite;
}

/* TEXTO */
h1 {
  color: #c4004d;
}

p {
  font-size: 20px;
}

/* CRONÔMETRO */
.timer {
  margin: 15px 0;
  font-size: 18px;
  color: #8b0033;
  cursor: pointer;
}

/* BOTÕES */
.buttons button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
}

.yes {
  background: #ff4d88;
  color: white;
}

.no {
  background: gray;
  color: white;
  position: absolute;
  left: -999px;
}

/* CORAÇÕES */
.hearts span {
  position: fixed;
  top: -10%;
  color: red;
  animation: fall 5s linear forwards;
}

@keyframes fall {
  to {
    top: 110%;
    opacity: 0;
  }
}
