body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: pink;
  overflow: hidden;
}

.container {
  text-align: center;
  margin-top: 15vh;
}

.heart {
  font-size: 80px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

h1 {
  color: #c4004d;
}

.buttons button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.yes {
  background: #ff4d88;
  color: white;
}

.no {
  background: gray;
  color: white;
  position: absolute;
  left: -999px;
}

.music-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #ff4d88;
  color: white;
  cursor: pointer;
}

.hearts span {
  position: fixed;
  color: red;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  from {
    top: -10%;
    opacity: 1;
  }
  to {
    top: 110%;
    opacity: 0;
  }
}

/* CARTA */
.letter {
  background: #fff0f5;
  width: 70%;
  margin: 10vh auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
}
